<div
	class="modal fade"
	id="bankModal"
	tabindex="-1"
	role="dialog"
	aria-labelledby="bankModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="bankModalLabel">New Bank</h5>
				<button
					type="button"
					class="close"
					data-dismiss="modal"
					aria-label="Close"
				>
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form method="POST" action="/admin/bank" enctype="multipart/form-data">
				<div class="modal-body">
					<div class="form-group">
						<label for="name" class="col-form-label">Name Bank:</label>
						<input
							type="text"
							class="form-control"
							id="nameBank"
							name="nameBank"
							autocomplete="off"
						/>
					</div>
					<div class="form-group">
						<label for="name" class="col-form-label">Nomor Rekening:</label>
						<input
							type="text"
							class="form-control"
							id="nomorRekening"
							name="nomorRekening"
							autocomplete="off"
						/>
					</div>
					<div class="form-group">
						<label for="name" class="col-form-label">Nama Lengkap:</label>
						<input
							type="text"
							class="form-control"
							id="name"
							name="name"
							autocomplete="off"
						/>
					</div>
					<div class="form-group">
						<label for="name" class="col-form-label">Image Urls:</label>
						<input
							type="file"
							class="form-control"
							id="imageurl"
							name="imageurl"
						/>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">
						Close
					</button>
					<button type="submit" class="btn btn-primary">Add Bank</button>
				</div>
			</form>
		</div>
	</div>
</div>
